:root {
  --dark: #121212;
  --gray-100: #ededed;
  --gray-200: #d6d6d6;
  --gray-300: #979797;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #fafafa;
  font-family: var(--font-urbanist);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  outline: none;
  border: none;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-size: 1.15rem;
  line-height: 1.55rem;
  font-weight: 500;
}